<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="classpath*:applicationContext.xml"/>


    <bean id="addCommentCommand" class="com.epam.newsmanager.controller.command.impl.AddCommentCommand">
    </bean>

    <bean id="changeLanguageCommand" class="com.epam.newsmanager.controller.command.impl.ChangeLanguageCommand"/>

    <bean id="showNewsListCommand" class="com.epam.newsmanager.controller.command.impl.ShowNewsListCommand">
    </bean>

    <bean id="showOneNewsCommand" class="com.epam.newsmanager.controller.command.impl.ShowOneNewsCommand">
    </bean>

    <bean id="unknownCommand" class="com.epam.newsmanager.controller.command.impl.UnknownCommand"/>


</beans>